<h1>
    <%= @trip.name %>
</h1>
<h3>Trip Description</h3>
<p>
    <%= @trip.description %>
</p>

<h3>Add Item To Packing List</h3>
<%= form_for Item.new do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :link %>
    <%= f.text_field :link %>

    <%= f.submit "Add item"%>
<% end %>


<h3>Add Comment To Trip</h3>
<%= form_for Post.new do |f| %>

    <%= f.hidden_field :trip_id %>
    <%= hidden_field_tag @trip.id, :trip_id %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit "Add Comment" %>
<% end %>