<main class="ui two column very relaxed grid">
    <div class="column">
        <div class="ui basic segment">
            <h1 class="ui header">
                <%= @trip.name %>
            </h1>
        </div>
        <div class="ui raised padded text segment">
            <p>
                <%= @trip.description %>
            </p>
        </div>
        <div class="ui basic segment">
            <h4 class="ui header">Crew:</h4>
            <% @trip.users.all.each do |user| %>
                <span class="ui basic segment">
                    <%= link_to  user.name, user_path(user) %>
                </span>
                <% end %>
        </div>
    </div>
    <div class="column">
        <% if @trip.find_friends.any? %>
            <div class="ui basic segment">
                <%= form_for @trip do |f| %>
                    <%= f.collection_select :user_ids, current_user.friends.all.select{|u| @trip.users.all.exclude?(u)}, :id, :name %>
                        <input class="ui tiny basic button" type="submit" name="commit" value="Invite Friend" data-disable-with="Invite Friend">
                        <% end %>
                            <% end %>
            </div>
            <div class="ui basic segment">
                <h3 class="ui header">Add Item To Packing List</h3>
                <%= form_tag({controller: 'items', action: 'create', method: 'post'}) do %>
                    <input type="hidden" name="trip_id" value="<%= @trip.id %>">
                    <div class="ui input">
                        <input type="text" name="name" placeholder="Hiking Boots...">
                    </div>
                    <div class="ui input">
                        <input type="text" name="link" placeholder="https://www.rei.com/c/womens-hiking-boots...">
                    </div>
                    <button class="ui tiny basic button" type="submit">Add Item</button>
                    <% end %>
            </div>
            <div class="ui basic segment">
                <h3 class="ui header">Add Comment</h3>
                <%= form_tag({controller: 'posts', action: 'create', method: 'post'}) do %>
                    <input type="hidden" name="trip_id" value="<%= @trip.id %>">
                    <div class="ui input">
                        <input type="text" name="body">
                    </div>
                    <button class="ui tiny basic button" type="submit">Comment</button>
                    <% end %>
            </div>
    </div>
</main>
<div class="ui two column grid">
    <div class="column">
        <section class="ui padded text segment">
            <h4 class="ui header">Packing list:</h4>
            <ul class="ui large middle animated aligned divided list">
                <% @trip.items.reverse.each do |item| %>
                    <p class="item">
                        <%= link_to  item.name, item.link %>
                            <button class="ui right floated mini button">
                            <%= link_to  "Remove", item_path(item), method: :delete %>
                        </button>
                    </p>
                    <% end %>
            </ul>
        </section>
    </div>
    <div class="column">
        <section class="ui padded text segment">
            <% @trip.posts.reverse.each do |post| %>
                <div class="ui vertical segment">
                    <p>
                        <%= post.user.name %>
                    </p>
                    <p>
                        <%= post.body %>
                    </p>
                    <% if session[:user_id] == post.user.id %>
                        <div class="ui buttons">
                            <button class="ui mini button">
                    <%= link_to  "Delete Comment", post_path(post), method: :delete %>
                </button>
                        </div>
                        <% end %>
                </div>
                <% end %>
        </section>
    </div>
</div>