<h1>
    <%= @trip.name %>
</h1>
<h3>Trip Description</h3>
<p>
    <%= @trip.description %>
</p>
<section>
    <% @trip.posts.each do |post| %>
    <p><%= post.user.name %></p>
    <p><%= post.name %></p>
    <p><%= post.body %></p>
    <% end %>
</section>

<h3>Add Item To Packing List</h3>

<%= form_tag({controller: 'items', action: 'create', method: 'post'}) do %>
    <input type="hidden" name="trip_id" value="<%= @trip.id %>">

    <input type="text" name="name" placeholder="name">

    <button type="submit"></button>
<% end %>



<h3>Add Comment To Trip</h3>

<%= form_tag({controller: 'posts', action: 'create', method: 'post'}) do %>
    <input type="hidden" name="trip_id" value="<%= @trip.id %>">

    <input type="text" name="name" placeholder="name">

    <input type="text" name="body" placeholder="body">
    
    <button type="submit"></button>
<% end %>