<h1>
    <%= @trip.name %>
</h1>
<h3>Trip Description</h3>>
<p>
    <%= @trip.description %>
</p>

<h3>Add Item To Packing List</h3>
<%= form_for @item do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.submit "Add item"%>
<% end %>


<h3>Add Comment To Trip</h3>
<%= form_for @post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit "Add Comment" %>
<% end %>