<main class="ui raised very padded text container segment">
    <%= form_for @user, controller: 'users', action: 'update' do |f| %>
        <div class="ui basic segment">
            <div class="ui transparent huge fluid input">
                <p class="ui label">Username</p>
                <input type="text" name="user[name]" id="user_name" value="<%=@user.name%>">
            </div>
            <img class="ui tiny circular right floated image" src="<%=@user.photo %>" alt="<%=@user.name%>">
        </div>
        <div class="ui basic segment">
            <div class="ui transparent huge fluid input">
                <p class="ui label">Email</p>
                <input type="text" name="user[email]" id="user_email" value="<%=@user.email%>">
            </div>
        </div>
        <div class="ui basic segment">
            <div class="ui transparent huge fluid input">
                <p class="ui label">Profile Picture</p>
                <input type="text" name="user[photo]" id="user_photo" value="<%=@user.photo%>">
            </div>
        </div>
        <div class="ui basic segment">
            <div class="ui transparent huge fluid input">
                <p class="ui label">Twitter</p>
                <input type="text" name="user[twitter]" id="user_twitter" value="<%=@user.twitter%>">
            </div>
        </div>
        <div class="ui basic segment">
            <div class="ui transparent huge fluid input">
                <p class="ui label">Instagram</p>
                <input type="text" name="user[instagram]" id="user_instagram" value="<%=@user.instagram%>">
            </div>
        </div>
        <div class="ui basic segment">
            <input class="ui basic yellow button" type="submit" name="commit" value="Save" data-disable-with="Update User">
        </div>
        <% end %>
</main>