<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trip-Up</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag    'application', media: 'all' %>
                <%= javascript_include_tag 'application' %>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
</head>

<body>
    <nav class="ui secondary pointing menu">
        <div class="ui basic segment">
            <a href="/"> <img class="ui small image" src="https://lh3.googleusercontent.com/OFTAwZrs_WxePwKRMCCRaN480_gDnNkilfPkrC47UBex0fp0azhg9PCAxGIxfHsN35DZ3Q1ture9H3eb6n-d9o1ovkuri4HOVMZE4r0TAopkJVy4xANvSPZvkapQC_-1YpzJsHq9ePUEWVhLEe5I6zlJcspFjwOgqezIqW2FH_RSl6xbN_N6a4OAd6AlJzyRx5UtllZ4t9xc_BUYF_Oe7brzmBzXOKQt7oCJeJsESewyae61B3qIsNW_HaFu2hsLTT0B1a2fdRZB2q03tsUv_FIkE5GQnqZJSNczPSrquJUh0eVJTt1gx1MQ1b4Ex547VDBwP7wWRTzJ_X9y5QqtBGLasPe8TVqSldGtUMTm-e3jMY0ftPwrsehD_7oYN2jrnR_4iCs-toUnmcDETQS-WJZqJNB-fg5PC75Fy5P2PW0t2e8h6YIVn6rJS9PvXgoP7NtGATHfX8CVkDxHLu033k_lFOdL2CIHEliGEQMgazO-lBe3DGq2n71sqJtr4g3jYYmVUxRTHGvwCYsPM3uW5j3t1ilxrpwdZHufBc4qIztxca6G0e9VBcUeV9fZHn9TKs6PAnQQZTdcPnoAnxHhWK9k8ZlY2q5l6p-97xWbwUVmOKfMpXW2CNMochVz9aeY57ZkbSotCXyR7rmztrO9sGikV-oeJw=w392-h209-no" alt="Trip-Up"></a>
        </div>

        <% if logged_in? %>
            <a class="item" href="/">My Trips</a>
            <% if current_user.friend_requests? %>
                <a class="item" href="<%= friends_path %>">
              Friends
              <div class="floating ui red circular label"><%=current_user.requested_friends.count%></div></a>
                <% else %>
                    <a class="item" href="<%= friends_path %>">Friends</a>
                    <% end %>
                        <a class="item" href="<%= user_path(current_user)%>">Profile</a>
                        <a class="item" href="/trips/browse">Browse</a>
                        <% end %>


                            <div class="right menu">
                                <div class="item">
                                    <% if session[:user_id] %>
                                        <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
                                            <input class="ui basic button" type=submit value='logout'>
                                            <% end %>
                                                <% end %>
                                </div>
                            </div>
    </nav>
    <%= yield %>
</body>

</html>