<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trip-Up</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag    'application', media: 'all' %>
                <%= javascript_include_tag 'application' %>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
</head>

<body>
    <nav class="ui secondary pointing menu">
        <div class="ui basic segment">
            <a href="/"> <img class="ui tiny image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYyaqA7m_Fl2BPJuwlUriNusbOp6FETGUBH5G56EQ0TpU4iFV-WA" alt="Trip-Up"></a>
        </div>
        <div class="ui basic compact segment">
            <h3 class="ui header">Trip-Up</h3>
        </div>

        <% if logged_in? %>
            <a class="item" href="/">My Trips</a>
            <% if current_user.friend_requests? %>
            <a class="item" href="<%= friends_path %>">
              Friends
              <div class="floating ui yellow circular label"><%=current_user.requested_friends.count%></div></a>
            <% else %>
            <a class="item" href="<%= friends_path %>">Friends</a>
            <% end %>
            <a class="item" href="<%= user_path(current_user)%>">Profile</a>
            <a class="item" href="/trips/browse">Browse</a>
            <% end %>


                <div class="right menu">
                    <div class="item">
                        <% if session[:user_id] %>
                            <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
                                <input class="ui basic button" type=submit value='logout'>
                                <% end %>
                                    <% end %>
                    </div>
                </div>
    </nav>
    <%= yield %>
</body>

</html>