<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trip-Up</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag    'application', media: 'all' %>
                <%= javascript_include_tag 'application' %>
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
</head>

<body>
    <%= yield %>
</body>

</html>